.article_wrapper
  %p.click_here
    %a{:href => "/new", :rel => 'facebox',:title => "Pledge Nothing"} Click here to pledge nothing.

  %h2 What's This About?
  %p
    Vanderbilt's 6-decades-old radio station, 
    %a{:href => 'http://www.wrvu.org'}
      WRVU, 
    is slated to have its broadcast license sold, effectively
    killing the station.  
  %p
    The group which operates the station, VSC, has systematically moved to dismantle
    the station despite wide outcry and prolonged protests by alumni, students, faculty, staff, and donors.
  
  %p  
    From hiring 
    %a{ :href => 'http://www.scpronet.com/point/9603/p09.html' }
      serial college radio shutdown artist Chris Carroll,
    to removing 
    %a{ :href => 'http://www.nashvillescene.com/nashville/after-four-years-chris-and-greg-croftons-wrvu-show-best-of-bread-is-toast/Content?oid=1202677' }
      "ass-pain" community DJs,
    to ensuring that community DJs (presumably more activist than student DJs who won't rock the University boat)
    %a{ :href => 'http://www.nashvillescene.com/nashvillecream/archives/2009/11/11/number-of-wrvu-community-djs-capped-at-25' }
      don't come back,
    to 
    %a{ :href => 'http://savewrvu.com/' }
      putting the station license up for permanent sale, ignoring community feedback, letters, outcry, and bad publicity, 
    
    VSC has made it clear that its years-long agenda is to sell the station license and take WRVU off the air.
  
  %p
    The VSC board has shown complete disregard for community, student, and university donor opposition to 
    the WRVU shutdown.
    
  %p
    It is our understanding that VSC's staff budget dwarfs the cost of running WRVU -- making this a case of misplaced priorities.

  %p
    The Vanderbilt administration has attempted to keep a low profile -- staying out of the controversy --
    hoping that no one will make them care that killing WRVU is eliminating a priceless educational resource for the university.
  
  %p
    %b 
      We have no choice but to make Vanderbilt University pay attention.
  
  %h2 So, what works?
    
  %p
    We know that there are two things guaranteed to motivate the current Vanderbilt administration to act:  
    
  %p.click_here
    Threats to their stream of 
    %br
    incoming donor money.        

  %p.click_here
    Bad publicity.
        
  %p
    So we're joining together to spread the word that shutting down WRVU is unacceptable.  
    
  %p
    We're going on record 
    saying that we won't support closing the station by selling the broadcast license.  
    
  %p
    We're also calling for a 
    5-year moratorium on plans to sell the license, close the station or otherwise make it difficult for WRVU
    to stay on the air.  
    
  %p
    It wouldn't hurt if VSC fired its shutdown artist and let community DJs re-join the 
    WRVU schedule.
  
  %p
    We're doing all this by letting Vanderbilt University know that we, past, present, and potential future donors to
    Vanderbilt's fundraising efforts, are going to 
    %b
      refuse to donate even a cent for the next few years unless
      they commit to keeping the station up and running.
      
  %h2
    So, how do I "Pledge Nothing"?
    
  %p
    Easy.  The easiest way is to just:
    
  %p.click_here
    %a{:href => "/new", :rel => 'facebox',:title => "Pledge Nothing"} Click here to record your pledge.
    
  %p
    You can even do it anonymously.  We'll bundle up pledges and draft an email to The Campaign for Vanderbilt, 
    various luminaries in the Vanderbilt administration, etc., and let them know just how many years of donations
    are getting zeroed out.
    
  %p
    If you want to be even more personal, you can call, write, or email them directly. 
    
    
  .contact-vu
  
    %p
      The
      %a{:href => 'https://giving.vanderbilt.edu/vanderbilt-fund/contact.php' } Vanderbilt Fund
      can be reached via:
      
    %p.click_here
      %b toll-free phone:
      1-866-882-FUND (3863)
      %br
      %b phone: 
      (615) 322-7252
      %br
      %b fax: 
      (615) 322-6586
      %br
      %b email: 
      %a{:href => 'mailto:TheVanderbiltFund@vanderbilt.edu'} 
        TheVanderbiltFund@vanderbilt.edu

    %p
      Better yet, by mailing plain-old awesome letters:
    %p.click_here
      The Vanderbilt Fund Office
      %br
      PMB 407727
      %br
      2301 Vanderbilt Place
      %br
      Nashville, TN 37240-7727
    
  %p
    Oh, and if your phone works anything like ours, you're probably getting regular calls from nice hard-working 
    Vandy students calling you to ask for donations.  We were just like these kids when we were in school, so be
    nice.  But, when they call, 
    %b
      tell them you'll not only not be donating this year, 

    but if the University doesn't
    force VSC to back off plans to sell WRVU's license, 

    %b 
      you won't be donating for the next 5 years!  
    (... or however many years you choose.)

  %p
    Definitely 
    %a{:href => 'mailto:info@pledgenothing.org'}
      drop us a line
    to let us know how it went.  We'll share your stories here and with the good people at 
    %a{:href => 'http://savewrvu.com/' }  SaveWRVU.com.
