.article_wrapper
  %h2 What's This About?
  %p
    \...
.article_wrapper
  %h2 Featured Pledges
  #pledge_scroller
    - @pledges.each do |@pledge|
      .pledge_item 
        = haml :random_pledge, :layout => false
