!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}/
    %title pledge nothing
    %link{:href => "stylesheets/common.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/facebox.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/pledgenothing.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js', :type => "text/javascript"}
    %script{:src => 'javascripts/facebox.js', :type => "text/javascript"}
    %script{:src => 'javascripts/pledgenothing.js', :type => "text/javascript"}
  %body
    / Start Header
    #header
      .container
        %h1
          %a{:href => "#", :title => "Pledge Nothing"}
            Pledge Nothing
            %span
        %hr/
        / top navigation
        %ul#navigation
          %li.active
            %a{:href => "/", :title => "Home"} Home
          %li
            %a{:href => "/new", :rel => 'facebox',:title => "Pledge Nothing"} Pledge Nothing
          %li
            %a{:href => 'mailto:info@pledgenothing.org', :title => 'Contact Us'} Contact Us
        %hr/
        / banner message and building background
        #banner
          Vanderbilt's student radio station WRVU will be off the air soon if its broadcast license is sold.
          We intend to convince Vanderbilt to keep the station alive by withholding something they might actually care about:  our money.
          
        %hr/
    / Start Main Content
    #main.container
      / left column 
      #leftcolumn
        %h3.leftbox Links
        %ul.leftbox.borderedlist
          %li
            %a{:href => "/new", :rel => 'facebox',:title => "Pledge Nothing"} Pledge Nothing
          %li
            %a{:href => "http://savewrvu.org", :title => "SaveWRVU.org"} SaveWRVU.org
          %li
            %a{:href => "http://savewrvuradio.wordpress.com/how-can-i-help/", :title => "Tips from SaveWRVU"} "How Can I Help?" 
          %li
            %a{:href => "http://www.facebook.com/pages/Save-WRVU/155963281089773/", :title => "SaveWRVU on Facebook"} SaveWRVU on Facebook
          %li
            %a{:href => "http://groups.google.com/group/save-wrvu", :title => "Save WRVU Google Group"} SaveWRVU Google Group
          %li
            %a{:href => "http://www.wrvu.org", :title => "WRVU Radio"} WRVU Radio
         
        %h3.leftbox.header_small Share
        .leftbox.features
          %p 
            %a{:href => 'http://www.twitter.com/pledgenothing'} 
              Follow us on twitter.
          %p 
            Let your friends know about us!
            / AddThis Button BEGIN
            .addthis_toolbox.addthis_default_style
              %a.addthis_button_preferred_1
              %a.addthis_button_preferred_2
              %a.addthis_button_preferred_3
              %a.addthis_button_preferred_4
              %a.addthis_button_compact
              / %a.addthis_counter.addthis_bubble_style
            :javascript
              var addthis_config = {"data_track_clickback":true};
            %script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4dc0e50f12f08ce3", :type => "text/javascript"}
            / AddThis Button END
        %hr/
      / main content area
      #center
        = yield
        %hr/
      / right side boxes
      #rightcolumn
        .rightbox_wrapper.lastbox
          .rightbox
            .product_wrapper
              %h4 Featured Pledges
              #pledge_scroller
                - @pledges.each do |@pledge|
                  .pledge_item 
                    = haml :random_pledge, :layout => false
        %hr/
    / Start Bottom Information
    #bottominfo
      .container
        / bottom left information
        .bottomcolumn
          %h3 Guidelines to Donating Nothing
          %p Here are some tips for making your pledge of zilch most effective
          %ul.borderedlist.iconlist
            %li
              %a{:href => '#'} Be courteous and professional.
            %li
              %a{:href => '#'} "I am not donating for # years."
            %li
              %a{:href => '#'} "... unless WRVU keeps its license."
              
        / bottom center information
        .bottomcolumn
          %h3 Can I learn more?
          %p Here are some other places to keep up-to-date.
          %ul.borderedlist.iconlist
            %li
              %a{:href => "http://savewrvuradio.wordpress.com/how-can-i-help/", :title => "Tips from SaveWRVU"} "How Can I Help"? from SaveWRVU
            %li
              %a{:href => "http://www.facebook.com/pages/Save-WRVU/155963281089773/", :title => "SaveWRVU on Facebook"} SaveWRVU on Facebook
            %li
              %a{:href => "http://groups.google.com/group/save-wrvu", :title => "Save WRVU Google Group"} SaveWRVU Google Group
        / bottom right information
        .bottomcolumn.bottomright
          %h3 Share the Wealth!
          %p 
            %a{:href => 'http://www.twitter.com/pledgenothing'} Follow us on twitter 
            and let your friends know about Pledge Nothing!
            / AddThis Button BEGIN
            .addthis_toolbox.addthis_default_style
              %a.addthis_button_preferred_1
              %a.addthis_button_preferred_2
              %a.addthis_button_preferred_3
              %a.addthis_button_preferred_4
              %a.addthis_button_compact
            :javascript
              var addthis_config = {"data_track_clickback":true};
            %script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4dc0e50f12f08ce3", :type => "text/javascript"}
            / AddThis Button END
        %hr/
    / Start Footer
    #footer
      .container
        %a#designby{:href => "http://www.studio7designs.com/", :title => "Design by STUDIO7DESIGNS"} WEB DESIGN BY STUDIO7DESIGNS
        %ul#footer_navigation
          %li
            %a{:href => "/", :title => "Home"} Home
          %li
            %a{:href => "/new", :rel => 'facebox',:title => "Pledge Nothing"} Pledge Nothing
          %li
            %a{:href => 'mailto:info@pledgenothing.org', :title => 'Contact Us'} Contact Us
            
