.single_pledge{:class => "color-#{rand(3)+1}"}
  %span.highlighted
    Anonymous
  from the Class of
  %span.highlighted
    = @pledge.class_year
  pledged to donate $0.00 for the next
  %span.highlighted
    = @pledge.pledge_years
    years.
  - if @pledge.comments and @pledge.comments != ''
    .comment_wrapper
      = h '"' + @pledge.comments + '"'
      